@mixin createGridareas($areas, $container) {
    @for $i from 1 through (length($areas)) {
        .grid-item#{$i} {
            grid-area: nth($areas, $i);
            @if $container == header {
                display: grid;
                padding-top: 1rem;
            }
        }
    }
}