$light_neutral: #DCCCB5;
$dark_neutral: #36454F;
$light_gray: #f2f2f2;
$dark_gray: #262626;
$light_green: #6ec09e;
$dark_green: #399073;

$header_areas: logo nav sign modus motto neutral lgray;
$footer_areas: logo sign courses grove contact legal;

//breakpoints: 54em, 46em