@use '../abstracts/variables';

/*base rules*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

figure {
    margin: 0;
    display: inline-block;
    text-align: right;
    padding: 1rem;
}

/*images are never larger than their container*/
img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-position: inside;
    margin: 0.5rem;
    padding: 0;
}

/*Remove all animations, transitions and smooth scroll for people that prefer not to see them.*/
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.sticky {
    position: sticky;
    top: 0;
}

.top {
    margin: 0 2rem;
    border-top: 2rem solid variables.$light_gray;
}

.heading {
    margin: 0;
}

.main {
    margin: 0 2rem;
}

.inline-block {
    display: inline-block;
}