/*reset rules*/
html {
    box-sizing: border-box;
}


*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0 2em 2em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

figure {
    margin: 0;
    display: inline-block;
    text-align: right;
    padding: 1em;
}

/*images are never larger than their container*/
img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
}

/*table rules*/
/*table-layout: fixed -> table behaves more predictably, columns follow width of their headings
border-collapse: collapse -> borders collapse into one*/
table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    line-height: 1;
    font-size: calc(0.75em + 0.25vw);
    overflow-wrap: break-word;
    padding: 0.25em 0.5em 0.5em 0.5em;
}

    /*enable horizontal scrolling for tables
    .fig-table {
        max-width: 100%; 
        overflow-x: scroll;
    }*/

/*form rules*/
button, input, select, textarea, label {
    font-family: inherit;
    font-size: 100%;
    display: block; 
}

button, input, select, textarea {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*width + height*/
}

/* add usability/accessibility via input:focus, textarea:focus {styles}*/

textarea {
    overflow: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }