@use '../abstracts/variables' as *;

/*typography rules*/
html {
    font-family: "Bodoni MT", "Bodoni 72", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

body {
    font-size: calc(1rem + 0.25vw);
    line-height: 1.5;
}

.heading {
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Calisto MT", "Times New Roman", serif;
    line-height: 1.6;
}