/*footer rules*/
footer {
    margin-top: 1em;
    padding: 1em;

    @supports(display: grid) {
        display: grid;
        grid-template-columns: 20% repeat(6, 1fr);
        column-gap: 1em;
        place-items: center;
    }

}