@use '../abstracts/variables';

/*grid rules*/
@supports(display: grid) {
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .gridfigure {
        grid-column: 1/10;
    }
    .gridtext {
        grid-column: 2/6;
    }
    .gridform {
        grid-column: 8/12;
    }
}