@use '../abstracts/variables';

/*header rules*/
header {
    position: sticky;
    top: 0;
    border-top: solid calc(2 * variables.$defaultem) variables.$light_gray;
    padding: variables.$defaultem;
}

.outside {
    position: relative;
    left: calc(-2/3 * variables.$defaultem);
}