@use '../abstracts/variables' as *;

/*nav rules*/
.navigation-link {
    display: inline-block;
    min-width: calc(5.5rem + 0.25vw);
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    @supports(display: grid) {
        display: grid;
        place-items: center;
        min-height: calc(5.5rem + 0.25vw);
    }
}