@use '../abstracts/variables' as *;

html {
    background-color: $dark_gray;
}

footer {
    background-color: $light_neutral;
    color: $dark_gray;
}

nav {
    a {
        background-color: $light_neutral;
        color: $dark_gray;
    }
}


.sign_link {
    background-color: $dark_green;
}


.lightneutral {
    background-color: $dark_neutral;
}

.lightgreen {
    background-color: $dark_green;

    a:link {
        color: #000061;
    }

    a:visited {
        color: #24003D;
    }

    a:active {
        color: #3D0000;
    }
}

/*style links in this order: a:link, a:visited, a:focus, a:hover, a:active
links should at least be: underlined (other elements shouldn't, react when they are hovered/focused
and in a different way when activated*/

footer {
    a:link {
        color: #0000A3;
    }
    
    a:visited {
        color: #560094;
    }
    
    a:active {
        color: #800000;
    }
}