@use '../abstracts/variables' as *;

/*light theme rules*/
html {
    background-color: $light_gray;
    color: $dark_gray;
}

h1 {
    color: $dark_neutral;
}

.account-link-color {
    background-color: $light_green;
    color: $dark_gray;
}

.navigation-link-color {
    background-color: $dark_neutral;
    color: $light_gray;
}

footer {
    background-color: $dark_neutral;
    color: $light_gray;
}

.color-theme-neutral {
    background-color: $light_neutral;
}

.color-theme-gray {
    background-color: $light_gray;
}

/*style links in this order: a:link, a:visited, a:focus, a:hover, a:active
links should at least be: underlined (other elements shouldn't, react when they are hovered/focused
and in a different way when activated*/

.color-theme-green {
    background-color: $light_green;

    a:link {
        color: #1d1d5c;
    }

    a:visited {
        color: #2f1d3d;
    }

    a:active {
        color: #511e1e;
    }
}

footer {
    a:link {
        color: #CFCFF4;
    }
    
    a:visited {
        color: #ddc6e4;
    }
    
    a:active {
        color: #f4cfcf;
    }
}